*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6C63FF;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

a:hover{
  letter-spacing: 0.2rem;
  color: #6C63FF;
  transition: 0.5s;
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  width: 100%;
  align-items: center;
  min-height: 8vh;
  background-color: #6C63FF;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #fcfdff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
}

.home_class{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 5rem;
  margin-bottom: 5rem;
}

.text_home1, .text_home2, .text_home3, .text_home4, .text_home5, .text_home6, .text_home7, .text_home8, .text_home9, .text_home10{
  text-align: center;
  font-size: 1vw;
  width: 40vw;
  margin-top: 5rem;
  font-family: 'Poppins', sans-serif;
}

.text_home9, .text_home7, .text_home5, .text_home3, .text_home1{
  margin-right: 5rem;
}

.text_home2, .text_home4, .text_home6, .text_home8, .text_home10{
  margin-left: 5rem;
}

.text_home1 p, .text_home2 p,.text_home3 p,.text_home4 p, .text_home5 p, .text_home6 p, .text_home7 p,.text_home8 p,.text_home9 p, .text_home10 p,{
  margin-top: 1.2rem;
}

#foto1, #foto2, #foto3, #foto4, #foto5{
  margin-top: 10rem;
  border-radius: 1rem;
  width: 25vw;
}

#foto6{
  margin-top: 10rem;
  margin-right: 5rem;
  border-radius: 1rem;
  width: 35vw;
}

#foto7{
  margin-left: 5rem;
  margin-top: 5rem;
  border-radius: 1rem;
  width: 20vw;
}

#foto8, #foto9, #foto10{
  margin-top: 5rem;
  border-radius: 1rem;
  width: 25vw;
}

@media only screen and (max-width: 600px) {
  #foto1, #foto2, #foto3, #foto4, #foto5, #foto6, #foto7, #foto8, #foto9, #foto10{
    display: none;
  }

  .home_class{
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5rem;
    margin-bottom: 5rem;
  }

  .text_home1, .text_home2, .text_home3, .text_home4, .text_home5, .text_home6, .text_home7, .text_home8, .text_home9, .text_home10{
    margin: 5rem 0 0 0;
    font-size: 15px;
    width: 80vw;
    grid-gap: 0;
  }

 .text_home2, .text_home3, .text_home4, .text_home5, .text_home6, .text_home7, .text_home8, .text_home9, .text_home10{
    margin-top: 1rem;
  }

  .logo{
    font-size: 10px;
  }
}

